[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid_file=/var/lib/mysql/mysql.pid

# time zone
default-time-zone=SYSTEM
log_timestamps=SYSTEM

# error log
log_error=/var/log/mysql/mysql-error.log

# general log
general_log=ON
general_log_file=/var/log/mysql/mysql-query.log

# slow query log
slow_query_log=ON
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=2.0

[client]
default-character-set=utf8mb4


